<ul class="side-social clearfix">
  <li>
    <a href="https://www.facebook.com/100353034989804" target="_blank">
      <img src="{{'fbicon.png' | asset_url }}g" height="17" width="17">
    </a>
  </li>
  <li>
    <a href="https://www.instagram.com/kodomom_shop" target="_blank">
      <img src="{{'igicon.png' | asset_url }}" height="17" width="17">
    </a>
  </li>
</ul>